Source: bsaf
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders:
 Andrew Ross <ubuntu@rossfamily.co.uk>
Build-Depends:
 debhelper (>= 10),
 default-jdk,
 junit4,
 libmaven-javadoc-plugin-java,
 libnetx-java,
 maven-debian-helper
Standards-Version: 3.9.8
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-java/bsaf.git
Vcs-Git: git://anonscm.debian.org/pkg-java/bsaf.git
Homepage: http://kenai.com/projects/bsaf

Package: libbetter-appframework-java
Architecture: all
Depends:
 ${maven:Depends},
 ${misc:Depends}
Suggests:
 ${maven:OptionalDepends}
Provides:
 libappframework-java
Description: Java Better Swing Application Framework (library)
 The Better Swing Application Framework is a fork of the original Swing
 Application Framework (appframework) reference implementation of JSR 296. Since
 August 2009, the original Swing Application Framework project has been on hold,
 and therefore this fork was created to carry on the work until the original
 project resumes.
 .
 The last public release of the original appframework project was version 1.03.
 The BSAF project currently aims at producing a new release, version 1.9, with
 the primary goals of improving stability, keeping backward compatibility with
 SAF 1.03, fixing bugs, updating documentation, and creating more unit tests and
 examples.
 .
 This package contains the Java library for the Better Swing Application
 Framework.

Package: libbetter-appframework-java-doc
Architecture: all
Section: doc
Depends:
 ${maven:DocDepends},
 ${misc:Depends}
Suggests:
 ${maven:DocOptionalDepends}
Description: Java Better Swing Application Framework (documentation)
 The Better Swing Application Framework is a fork of the original Swing
 Application Framework (appframework) reference implementation of JSR 296. Since
 August 2009, the original Swing Application Framework project has been on hold,
 and therefore this fork was created to carry on the work until the original
 project resumes.
 .
 The last public release of the original appframework project was version 1.03.
 The BSAF project currently aims at producing a new release, version 1.9, with
 the primary goals of improving stability, keeping backward compatibility with
 SAF 1.03, fixing bugs, updating documentation, and creating more unit tests and
 examples.
 .
 This package contains the documentation for the Better Swing Application
 Framework.
